name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CI: 'true'
      RAILS_ENV: test
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/drive_cash_test"

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: drive_cash_test
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready -U postgres" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Lint code
        run: bundle exec rubocop -f github

      - name: Set up database
        run: |
          cp config/database.yml.ci config/database.yml || true
          bundle exec rails db:create db:migrate

      - name: Run tests
        run: bundle exec rspec
